<a href="#" class="btn btn-primary" role="button">Primary link</a>
<a href="#" class="btn btn-primary active" role="button">Primary link</a>
<a href="#" class="btn btn-primary hover" role="button">Primary link</a>