<h3>List Unstyled</h3>
<ul class="list-unstyled">
    <li>Lorem ipsum dolor sit.</li>
    <li>Doloribus minus pariatur tempora.</li>
    <li>Accusamus assumenda deserunt est!</li>
    <li>Dolorum eius recusandae unde.</li>
    <li>Harum quaerat ratione sequi.</li>
</ul>