{# Unordered List #}
<ul>
    <li>...</li>
</ul>

{# Ordered List #}
<ol>
    <li>...</li>
</ol>

{# Unstyled List #}
<ul class="list-unstyled">
    <li>...</li>
</ul>

{# Inline List #}
<ul class="list-inline">
    <li>...</li>
</ul>