{#
    vars:
        template:           _self
        container:          bool
        headline:           string
        element_content:    html
        code:               html
        notes:              html
#}

{% extends 'style-guide/layout/element-dynamic.twig' %}

{% set template = _self %}
{% set container = true %}
{% set headline = 'Footnote' %}

{# Markup to render here #}
{% set element_content %}
    <p class="footnote">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consectetur dignissimos dolore ex laboriosam nisi praesentium rem, sunt velit voluptatum.
    </p>
{% endset %}


{# Override Code Display Here - defaults to `element_content` #}
{% set code %}

{% endset %}


{# Add Notes Here #}
{% set notes %}

{% endset %}