{% set container = container is defined ? container : true %}
{% set content = content|trim %}

<h2>{{ heading }}</h2>


<div class="tab-panel">

    {% if container %}
    <div class="container-fluid">
        {% endif %}

        {{ content }}
        {% if container %}
    </div><!-- .container -->
    {% endif %}

</div><!-- .tab-panel -->
<div class="tab-panel">
    <pre><code>{{ content|e('html') }}</code></pre>
</div><!-- .tab-panel -->

