<div class="sg-container">
    <ul class="sg-page-nav">
        <li>
            {{ main }}
        </li>
        {% for item in items %}
            <li class="{{ loop.first ? 'sg-active' : '' }}">
                <a href="#{{ item.id }}">
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>