<div class="form-control">
    <label for="comment">{{ __("Comment", 'theme') }}</label>
    <textarea name="comment"
        placeholder="{{ __("comment text", 'theme') }}"
        maxlength="65525"
        aria-required="true"
        required="required"
        class="comment-form-comment"></textarea>
</div>