{#
    vars:
        template:           _self
        container:          bool
        headline:           string
        element_content:    html
        code:               html
        notes:              html
#}

{% extends 'style-guide/layout/element-dynamic.twig' %}

{% set template = _self %}
{% set container = true %}
{% set headline = 'Text' %}

{# Markup to render here #}
{% set element_content %}
    <a href="#" class="btn btn-text" role="button">Register Now</a>
    <a href="#" class="btn btn-text active" role="button">Register Now</a>
    <a href="#" class="btn btn-text hover" role="button">Register Now</a>
{% endset %}


{# Override Code Display Here - defaults to `element_content` #}
{% set code %}
<a href="#" class="btn btn-text" role="button">Register Now</a>
{% endset %}


{# Add Notes Here #}
{% set notes %}

{% endset %}