{#
 # LIST
 #
 #  A template used to display a default list of content.
 #  Used for index, archive, search results.
 #}

{# parent template #}
{% extends 'layouts/left-sidebar.html.twig' %}

{# define content block #}
{% block content %}

    {# title #}
    {% include 'includes/list-title.html.twig' %}

    {# content list #}
    <ul class="content-list">
        {% for post in posts %}
            <li>{% include(
                [
                    'preview/preview-' ~ post.post_type ~ '.html.twig',
                    'preview/preview.html.twig'
                ]
            ) %}</li>
        {% else %}
            <li>{{__("Sorry, no posts matched your criteria", 'theme')}}</li>
        {% endfor %}
    </ul>

    {# pagination #}
    {% include 'includes/pager.html.twig' %}

{% endblock %}
