@import "compass/css3";

$brand-primary: #d96646;
$white: #fff;

$sg-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$sg-font-alt: Futura,Helvetica,Arial,sans-serif;//"Gill Sans", "Gill Sans MT", Helvetica, Arial,sans-serif;