@import "settings";

.sg-heading {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $sg-font;
        letter-spacing: -0.01em;
    }

    h1 {
        font-size: 2.4rem;

        @media (min-width: 768px) {
            font-size: 4rem;
        }
    }

    h2 {
        font-size: 2rem;
    }
}

// pinned nav
.sg-page-nav-wrapper {
    height: 86px;
    margin-top: -40px;
}
.sg-page-nav {
    background-color: #ffffff;

    ul {
        border-bottom: 1px solid #d2d2d2;
        color: #000;
        font-size: 1.8rem;
        list-style-type: none;
        margin: 0;
        padding: 30px 0;

        li {
            //@include transition(max-width 0.3s ease, margin-right 0.3s ease, visibility 0s linear 0s, opacity 0.3s ease 0.3s);
            display: inline-block;
            margin-right: 40px;

            &:first-child {
                @include transition(max-width 0.3s ease 0.3s, margin-right 0.3s ease 0.3s, visibility 0s linear 0.6s, opacity 0.3s ease 0s);
                @include opacity(0);
                margin-right: 0;
                max-width: 0;
                position: relative;
                visibility: hidden;

                &::after {
                    @include transform(rotate(-45deg) translate(0, -50%));
                    border-bottom: 1px solid #000;
                    border-right: 1px solid #000;
                    content: '';
                    display: block;
                    height: 8px;
                    position: absolute;
                    right: -25px;
                    top: 50%;
                    width: 8px;

                }
            }

            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }

    &.pinned {
        left: 0;
        position: fixed;
        right: 0;
        top: 0;

        ul {
            li {
                &:first-child {
                    @include opacity(1);
                    @include transition(max-width 0.3s ease, margin-right 0.3s ease, visibility 0s linear 0s, opacity 0.3s ease 0.3s);
                    margin-right: 40px;
                    max-width: 200px;
                    visibility: visible;

                }

                &:not(.sg-active):not(:first-child) {
                    @include opacity(0);
                    //@include transition(max-width 0.3s ease 0.3s, margin-right 0.3s ease 0.3s, visibility 0s linear 0.6s, opacity 0.3s ease 0s);
                    position: relative;
                    display: none;
                }
            }
        }
    }
}