@import "settings";

.sg-footer {
    background-color: #000000;
    padding: 40px 0;
    color: #ababab;
    text-align: center;

    .logo {
        margin: 0 0 20px;
    }

    @media (min-width: 768px) {
        text-align: left;

        .sg-container {
            display: flex;
            align-items: center;
        }

        .logo {
            margin: 0 40px 0 0;
        }
    }
}