@import "settings";

.sg-header {
    background-color: $brand-primary;
    color: $white;
    padding: 30px 0;

    .sg-container {
        .tagline {
            font-family: $sg-font-alt;
            text-transform: uppercase;
            letter-spacing: 0.125em;
            font-weight: 300;
            font-size: 1.2rem;

            strong {
                font-weight: 700;
            }
        }
    }

    h1 {
        margin: 0;
    }

    @media (min-width: 768px) {
        display: flex;
        height: 130px;
        padding-top: 0;

        .sg-container {
            display: flex;

            > * {
                align-self: flex-end;
            }

            .tagline {
                margin-left: auto;
            }
        }
    }
}