{#
    vars:
        template:           _self
        container:          bool
        headline:           string
        element_content:    html
        code:               html
        notes:              html
#}

{% extends 'style-guide/layout/element-dynamic.twig' %}

{% set template = _self %}
{% set container = true %}
{% set headline = 'Pagination' %}

{# Markup to render here #}
{% set element_content %}
    <h3>First Result Page</h3>

    {% include "include/pagination.twig" with {
        pagination: {
            pages : [
                { link: "", class: "", title: "Page 1", current: true },
                { link: "/page-2", class: "", title: "Page 2" },
                { link: "/page-3", class: "", title: "Page 3" },
                { link: "/page-4", class: "", title: "Page 4" },
                { link: "/page-5", class: "", title: "Page 5" }
            ],
            next : { link: "/page-2" }
        }
    } %}

    <h3>Second Result Page</h3>

    {% include "include/pagination.twig" with {
        pagination: {
            pages : [
                { link: "/page-1", class: "", title: "Page 1" },
                { link: "", class: "", title: "Page 2", current: true },
                { link: "/page-3", class: "", title: "Page 3" },
                { link: "/page-4", class: "", title: "Page 4" },
                { link: "/page-5", class: "", title: "Page 5" }
            ],
            prev : { link: "/page-1" },
            next : { link: "/page-3" }
        }
    } %}


    <h3>Last Result Page</h3>

    {% include "include/pagination.twig" with {
        pagination: {
            pages : [
                { link: "/page-1", class: "", title: "Page 1" },
                { link: "/page-2", class: "", title: "Page 2" },
                { link: "/page-3", class: "", title: "Page 3" },
                { link: "/page-4", class: "", title: "Page 4" },
                { link: "", class: "", title: "Page 5", current: true }
            ],
            prev : { link: "/page-4" }
        }
    } %}
{% endset %}


{# Override Code Display Here - defaults to `element_content` #}
{% set code %}
{{ '{% include \'include/pagination.twig\' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

{# OR #}' }}
{% include "include/pagination.twig" with {
    pagination: {
        pages : [
            { link: "", class: "", title: "Page 1", current: true },
            { link: "/page-2", class: "", title: "Page 2" },
            { link: "/page-3", class: "", title: "Page 3" },
            { link: "/page-4", class: "", title: "Page 4" },
            { link: "/page-5", class: "", title: "Page 5" }
        ],
        next : { link: "/page-2" }
    }
} %}
{% endset %}


{# Add Notes Here #}
{% set notes %}

{% endset %}