{#
 # DETAIL
 #
 #  A template used to display the default content detail view.
 #
 #  location: views/content/detail.html.twig
 #  author:   kchevalier@mindgruve.com
 #  twig:     http://twig.sensiolabs.org/documentation
 #  timber:   https://github.com/jarednova/timber/wiki/WP-Integration
 #
 #  Template Hierarchy:
 #   content/detail-{POST_TYPE}.html.twig
 #   content/detail.html.twig
 #
 #  Context:
 #   http_host            string
 #   wp_title             string
 #   wp_head              TimberFunctionWrapper
 #   wp_footer            TimberFunctionWrapper
 #   body_class           string
 #   site                 TimberSite
 #   theme                TimberTheme
 #   theme_dir            string
 #   language_attributes  TimberFunctionWrapper
 #   stylesheet_uri       string
 #   template_uri         string
 #   posts                TimberQueryIterator
 #   post                 TimberPost
 #   comment_form         string
 #   date_format          string
 #   time_format          string
 #}

{# thumbnail options #}
{% set thumbnail_width   = 600 %}
{% set thumbnail_height  = 400 %}


{# parent template #}
{% extends 'layouts/left-sidebar.html.twig' %}

{# define content block #}
{% block content %}

    {% if post %}

        <article class="detail {{post.class}}">

            {# post header #}
            <header>

                {# post title #}
                <h1 class="title">
                    {{post.title}}
                </h1>

                {# post meta info #}
                {% include(
                    [
                        'content/includes/meta-' ~ post.post_type ~ '.html.twig',
                        'content/includes/meta.html.twig'
                    ]
                ) %}

            </header>

            {# post image #}
            {% if post.thumbnail %}
                <img src="{{post.get_thumbnail.get_src|resize(thumbnail_width, thumbnail_height)}}" />
            {% endif %}

            {# post content #}
            <div class="content">
                {{post.content}}
            </div>

        </article>

        {# post comments #}
        {% include('includes/comments.html.twig') %}

    {% endif %}

{% endblock %}
