{#
 # LIST
 #
 #  A template used to display a default list of content.
 #  Used for index, archive, search results.
 #
 #  location: views/content/list.html.twig
 #  author:   kchevalier@mindgruve.com
 #  twig:     http://twig.sensiolabs.org/documentation
 #  timber:   https://github.com/jarednova/timber/wiki/WP-Integration
 #
 #  Template Hierarchy:
 #   content/list-taxonomy-{TERM}.html.twig
 #   content/list-taxonomy.html.twig
 #   content/list-category-{CATEGORY}.html.twig
 #   content/list-category.html.twig
 #   content/list-tag-{TAG}.html.twig
 #   content/list-tag.html.twig
 #   content/list-author-{AUTHOR}.html.twig
 #   content/list-author.html.twig
 #   content/list-date.html.twig
 #   content/list-{POST_TYPE}.html.twig
 #   content/list.html.twig
 #
 #  Context:
 #   http_host            string
 #   wp_title             string
 #   wp_head              TimberFunctionWrapper
 #   wp_footer            TimberFunctionWrapper
 #   body_class           string
 #   site                 TimberSite
 #   theme                TimberTheme
 #   theme_dir            string
 #   language_attributes  TimberFunctionWrapper
 #   stylesheet_uri       string
 #   template_uri         string
 #   posts                array
 #   pagination           array
 #   category             stdClass
 #   date_format          string
 #   time_format          string
 #}

{# parent template #}
{% extends 'layouts/left-sidebar.html.twig' %}

{# define content block #}
{% block content %}

    {# title #}
    {% include 'includes/list-title.html.twig' %}

    {# content list #}
    <ul class="content-list">
        {% for post in posts %}
            <li>{% include(
                [
                    'content/includes/preview-' ~ post.post_type ~ '.html.twig',
                    'content/includes/preview.html.twig'
                ]
            ) %}</li>
        {% else %}
            <li>{{__("Sorry, no posts matched your criteria", 'theme')}}</li>
        {% endfor %}
    </ul>

    {# pagination #}
    {% include 'includes/pager.html.twig' %}

{% endblock %}
