{#
    vars:
        template:           _self
        container:          bool
        headline:           string
        element_content:    html
        code:               html
        notes:              html
#}

{% extends 'style-guide/layout/element-dynamic.twig' %}

{% set template = _self %}
{% set container = true %}
{% set headline = 'Warning' %}

{# Markup to render here #}
{% set element_content %}
    <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>
{% endset %}


{# Override Code Display Here - defaults to `element_content` #}
{% set code %}

{% endset %}


{# Add Notes Here #}
{% set notes %}

{% endset %}