{#
 # STYLE-GUIDE::TYPOGRAPHY
 #
 #  An include used for the styleguide. Contains HTML snippets for list elements.
 #}

{% extends 'style-guide/index.twig' %}

{% block content %}
    <section class="sg-section">
        <div class="sg-heading sg-container">
            <h1>Buttons</h1>
        </div>

        {% include 'style-guide/layout/page-nav.twig' with {
            main: 'Buttons',
            items: [
                {
                    id: 'primary',
                    name: 'Primary'
                },
                {
                    id: 'secondary',
                    name: 'Secondary'
                },
                {
                    id: 'text',
                    name: 'Text'
                },
                {
                    id: 'arrow',
                    name: 'Arrows'
                },
                {
                    id: 'pager',
                    name: 'Pagers'
                },
                {
                    id: 'more',
                    name: 'More'
                }
            ]
        } %}
    </section>

    {% include 'style-guide/layout/element.twig' with {id: 'primary', headline: 'Primary', content: 'style-guide/elements/buttons-primary.twig' } %}
    {% include 'style-guide/layout/element.twig' with {id: 'paragraph', headline: 'paragraph', content: 'style-guide/elements/typography-paragraph.twig', container: true } %}
    {% include 'style-guide/layout/element.twig' with {id: 'footnote', headline: 'footnote', content: 'style-guide/elements/typography-footnote.twig', container: true } %}
    {% include 'style-guide/layout/element.twig' with {id: 'blockquote', headline: 'blockquote', content: 'style-guide/elements/typography-blockquote.twig', container: true } %}1
    {% include 'style-guide/layout/element.twig' with {id: 'lists', headline: 'Lists', content: 'style-guide/elements/typography-lists.twig', container: true, notes: 'Modifier Classes:<br> <code>.list-social</code>: For Social Links' } %}
    {% include 'style-guide/layout/element.twig' with {id: 'more', headline: 'more', content: 'style-guide/elements/typography-more.twig', container: true } %}

{% endblock %}