{#
 # STYLE-GUIDE::COLOR
 #
 #  An include used for the styleguide. Contains HTML snippets for the color palette.
 #}

<h2>Color</h2>

<h3>Theme Colors</h3>

<ul class="swatches">
    <li>
        <div class="swatch brand-01"></div>
        <span>brand-01</span>
        <span>#3d70b2</span>
    </li>
    <li>
        <div class="swatch brand-02"></div>
        <span>brand-02</span>
        <span>#5596e6</span>
    </li>
    <li>
        <div class="swatch ui-01"></div>
        <span>ui-01</span>
        <span>#ffffff</span>
    </li>
    <li>
        <div class="swatch ui-02"></div>
        <span>ui-02</span>
        <span>#f5f7fa</span>
    </li>
</ul>

<h3>Support Colors</h3>

<ul class="swatches">
    <li>
        <div class="swatch danger"></div>
        <span>danger</span>
        <span>#e0182d</span>
    </li>
    <li>
        <div class="swatch success"></div>
        <span>success</span>
        <span>#5aa700</span>
    </li>
    <li>
        <div class="swatch warning"></div>
        <span>warning</span>
        <span>#efc100</span>
    </li>
    <li>
        <div class="swatch info"></div>
        <span>info</span>
        <span>#5aaafa</span>
    </li>
</ul>