{#
 # STYLE-GUIDE::LISTS
 #
 #  An include used for the styleguide. Contains HTML snippets for list elements.
 #}

{% extends 'style-guide/index.twig' %}

{% block content %}
    <section class="sg-section">
        <div class="sg-heading sg-container">
            <h1>Lists</h1>
        </div>

        {% include 'style-guide/layout/page-nav.twig' with {
            main: 'Lists',
            items: [
                {
                    id: 'lists',
                    name: 'Lists'
                }
            ]
        } %}
    </section>


    {% include 'style-guide/layout/element.twig' with {id: 'lists', headline: 'Lists', content: 'style-guide/elements/typography-lists.twig', container: true, notes: 'Modifier Classes:<br> <code>.list-social</code>: For Social Links' } %}

{% endblock %}