{#
 # STYLE-GUIDE::TYPOGRAPHY
 #
 #  An include used for the styleguide. Contains HTML snippets for typographic elements.
 #}

<h2>Typography</h2>

<h3>Typefaces</h3>

<h4>Helvetica Neue</h4>

<p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
<p>abcdefghijklmnopqrstuvwxyz</p>
<p>1234567890</p>

<p>Brief explanation of this typeface, why we use it, and how it should be applied.</p>

<pre>
    font-family: "Helvetica Neue", Arial, sans-serif;
</pre>

<h4>Georgia</h4>

<p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
<p>abcdefghijklmnopqrstuvwxyz</p>
<p>1234567890</p>

<p>Brief explanation of this typeface, why we use it, and how it should be applied.</p>

<pre>
    font-family: Georgia, Times, "Times New Roman", serif;
</pre>

<h3>Type scale</h3>

<ul>
    <li>
        <h1>Page Heading</h1>
        <span>36px/48px</span>
        <span>Bold</span>
    </li>
    <li>
        <p class="subtitle">Page subtitle</p>
        <span>18px/24px</span>
        <span>Regular sdfg</span>
    </li>
    <li>
        <h2>Section header</h2>
        <span>24px/36px</span>
        <span>Bold</span>
    </li>
    <li>
        <h3>Sub section heading 1</h3>
        <span>20px/24px</span>
        <span>Semibold</span>
    </li>
    <li>
        <h4>Sub section heading 2</h4>
        <span>18px/22px</span>
        <span>Semibold</span>
    </li>
    <li>
        <h5>Sub section heading 3</h5>
        <span>16px/20px</span>
        <span>Semibold</span>
    </li>
    <li>
        <h6>Sub section heading 4</h6>
        <span>14px/18px</span>
        <span>Semibold</span>
    </li>
    <li>
        <p>Body copy</p>
        <span>12px/18px</span>
        <span>Regular</span>
    </li>
</ul>

<pre>
    &lt;h1&gt;Page Heading&lt;/h1&gt;
    &lt;p class="subtitle"&gt;Page subtitle&lt;/p&gt;
    &lt;h2&gt;Section header&lt;/h2&gt;
    &lt;h3&gt;Sub section heading 1&lt;/h3&gt;
    &lt;h4&gt;Sub section heading 2&lt;/h4&gt;
    &lt;h5&gt;Sub section heading 3&lt;/h5&gt;
    &lt;h6&gt;Sub section heading 4&lt;/h6&gt;
    &lt;p&gt;Body copy&lt;/p&gt;
</pre>

<h3>Paragraphs</h3>

<p>Lorem ipsum</p>

<p>Dolor sit amet</p>

<pre>
    &lt;p&gt:Lorem ipsum&lt;/p&gt:
    &lt;p&gt:Dolor sit amet&lt;/p&gt:
</pre>

