{#
 # FULL WIDTH
 #
 #  A layout template used for full-width views.
 #
 #  location: views/layouts/full-width.html.twig
 #  author:   kchevalier@mindgruve.com
 #  twig:     http://twig.sensiolabs.org/documentation
 #  timber:   https://github.com/jarednova/timber/wiki/WP-Integration
 #}

{# parent template #}
{% extends 'base.html.twig' %}

{# define body block #}
{% block body %}

    <div class="">

        <div id="content" class="">

            {# content block #}
            {% block content %}{% endblock %}

        </div>

    </div>
    <!-- end div -->

{% endblock %}
