{#
 # 404
 #
 #  The template used to display the 404 Not Found error page.
 #
 #  location: views/pages/404.html.twig
 #  author:   kchevalier@mindgruve.com
 #  twig:     http://twig.sensiolabs.org/documentation
 #  timber:   https://github.com/jarednova/timber/wiki/WP-Integration
 #
 #  Template Hierarchy:
 #   pages/404.html.twig
 #
 #  Context:
 #   http_host            string
 #   wp_title             string
 #   wp_head              TimberFunctionWrapper
 #   wp_footer            TimberFunctionWrapper
 #   body_class           string
 #   site                 TimberSite
 #   theme                TimberTheme
 #   theme_dir            string
 #   language_attributes  TimberFunctionWrapper
 #   stylesheet_uri       string
 #   template_uri         string
 #   posts                TimberQueryIterator
 #}

{# parent template #}
{% extends 'layouts/full-width.html.twig' %}

{# define content block #}
{% block content %}

    {# error message #}
    <div class="alert alert-warning">
        {{__("Sorry, but the page you were trying to view does not exist.", 'theme')}}
    </div>

    <p>
        {{__("It looks like this was the result of either:", 'theme')}}
    </p>

    <ul>
        <li>
            {{__("a mistyped address", 'theme')}}
        </li>
        <li>
            {{__("an out-of-date link", 'theme')}}
        </li>
    </ul>

    {# search form #}
    {% include 'includes/search-form.html.twig' %}

{% endblock %}
