{#
 # DETAIL
 #
 #  A template used to display the default content detail view.
 #}

{# parent template #}
{% extends 'layout/left-sidebar.html.twig' %}

{# define content block #}
{% block content %}

    {% if post %}

        <article class="page">

            {% for item in post.get_field('hero_content') %}
                {% if item.published %}
                    {% include 'block/hero.html.twig' %}
                {% endif %}
            {% endfor %}

            <section class="page-content">
                <div class="container">

                    {# post header #}
                    <header>

                        {# post title #}
                        <h1 class="title">
                            {{ post.title }}
                        </h1>

                    </header>

                    {# post content #}
                    {{ post.content }}

                </div><!-- /.container -->
            </section>

            {% for item in post.get_field('body_content') %}
                {% if item.published %}
                    {% include 'block/'~item.acf_fc_layout~'.html.twig' %}
                {% endif %}
            {% endfor %}

        </article>

    {% endif %}

{% endblock %}
