{#
 # SEARCH
 #
 #  The template used to display search results
 #}

{# parent template #}
{% extends 'layouts/left-sidebar.html.twig' %}

{# define content block #}
{% block content %}

    {# search form #}
    {% include 'includes/search-form.html.twig' %}

    {# content list #}
    <ul class="content-list search-results">
        {% for post in posts %}
            <li>{% include(
                [
                    'content/includes/preview-' ~ post.post_type ~ '.html.twig',
                    'content/includes/preview.html.twig'
                ]
            ) %}</li>
        {% else %}
            <li>{{__("Sorry, no posts matched your criteria", 'theme')}}</li>
        {% endfor %}
    </ul>

    {# pagination #}
    {% include 'includes/pager.html.twig' %}

{% endblock %}
